<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="flash">
    <%= flash.notice %>
  </p>
  <h1><%=  link_to "Blogger2", articles_path, style: "color: white;" %></h1>
  <div id="container">
    <div id="sidebar">
      <ul>
        <li><%= link_to "All Articles", articles_path %></li>
        <li><%= link_to "All Tags", tags_path %></li>
        <li>&nbsp;</li>
        <% if logged_in? %>
        <li>
            <%= "Logged in as #{current_user.email}" %>
            <%= link_to "(logout)", logout_path %>
          <% else %>
            <%= link_to "(login)", login_path %>
        </li>
        <% end %>
      </ul>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
